---
import { Image } from 'astro:assets'

import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import avatar from '@/assets/yo.gif'
import config from '@/site-config'

const languages = ['Python', 'Html', 'JavaScript', 'CSS', 'Shell', 'C++', 'Bash', 'SQL']
const frontend = ['Html', 'Flask', 'Tailwind', 'Astro']
const backend = ['PostgreSQL', 'MongoDB']

const MAX_POSTS = 5
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB966'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='Argentina'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label
            title='Github'
            as='a'
            href='https://github.com/Fabian-Martinez-Rincon'
            target='_blank'
          >
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
          <Label
            title='Youtube'
            as='a'
            href='https://www.youtube.com/@FabianMartinezRincon'
            target='_blank'
          >
            <Icon name='youtube' class='size-5' slot='icon' />
          </Label>
          <Label
            title='fabianmartinezrincon.123@gmail.com'
            as='a'
            href='mailto:fabianmartinezrincon.123@gmail.com'
            target='_blank'
          >
            <Icon name='email' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>

      <div class="video-inline z-0 transition-transform duration-[1.5s] group-hover:scale-110">
        <video src='yo.mp4' class="max-w-screen-lg mx-auto noise left-0 h-56 w-full relative top-0 block overflow-hidden border-4 border-black" autoplay muted  loop></video>
      </div>

      <!-- <Image
      src={avatar}
      alt='profile'
      class='h-64 w-auto border p-1  '
      loading='eager'
    /> -->
      {/* Get template */}
      <div class="flex gap-x-4">
        <!-- Botón 1 -->
        <a
          href="https://www.linkedin.com/in/fabian-martinez-rincon/"
          target="_blank"
          class="flex flex-row items-center gap-x-3 rounded-full border border-border bg-background px-4 py-2 text-sm shadow-sm transition-shadow hover:shadow-md"
        >
          <span class="relative flex items-center justify-center">
            <span
              class="absolute size-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75"
            ></span>
            <span class="size-2 rounded-full bg-green-400"></span>
          </span>
          <p class="font-medium text-muted-foreground">LinkedIn</p>
        </a>
      
        <!-- Botón 2 -->
        <a
          href="https://rincondelfabo.vercel.app/resumeES"
          target="_blank"
          class="flex flex-row items-center gap-x-3 rounded-full border border-border bg-background px-4 py-2 text-sm shadow-sm transition-shadow hover:shadow-md"
        >
          <span class="relative flex items-center justify-center">
            <span
              class="absolute size-2 animate-ping rounded-full border border-blue-400 bg-blue-400 opacity-75"
            ></span>
            <span class="size-2 rounded-full bg-blue-400"></span>
          </span>
          <p class="font-medium text-muted-foreground">Curriculum</p>
        </a>

        <!-- Botón 3 -->
        <a
          href="https://fabian-martinez-rincon-homelab.vercel.app/"
          target="_blank"
          class="flex flex-row items-center gap-x-3 rounded-full border border-border bg-background px-4 py-2 text-sm shadow-sm transition-shadow hover:shadow-md"
        >
          <span class="relative flex items-center justify-center">
            <span
              class="absolute size-2 animate-ping rounded-full border border-yellow-400 bg-yellow-400 opacity-75"
            ></span>
            <span class="size-2 rounded-full bg-yellow-400"></span>
          </span>
          <p class="font-medium text-muted-foreground">HomeLab</p>
        </a>
      </div>
      
      
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='Sobre mi'>
        <p class='text-muted-foreground'>💻 💵 Data Engineer / 📚 👨‍🎓Analista Programador Universitario / 📔👨‍🔧 Tecnico En Electronica</p>
        <p class='text-muted-foreground'>
          Trabajo como Data Engineer en BB-Media, especializado en Web Scraping usando Python, MongoDB, Insomnia y demás Tecnologías. También soy Técnico, Analista Programador Universitario y estoy terminando la Licenciatura en Sistemas en UNLP Informática
        </p>
        <Button title='Leer Mas sobre mi' class='w-fit self-end' href='/about' style='ahead' />        
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='📚 Blogs'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
          </Section>
        )
      }

      {
       <Section title='🖥️Experiencia'>
        
      <Card
        heading='Data Engineer'
        subheading='BB-Media'
        date='17/09/2024 - Actualidad'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      >
        <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            Realicé varios scrapings utilizando Playwright, Beautifulsoup y/o APIs según corresponda. Los datos se almacenan y manipulan usando NoSQL en MongoDB.
          </li>
        </ul>
      </Card>
      <Card
        heading='Testing Engineer'
        subheading='Gaming Labs Sudamerica'
        date='01/07/2023 - 17/09/2024'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      >
        <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            Software en Python usando Pandas, PyGetWindow, OpenPyXL, PyAutoGUI y Tkinter para automatizar la entrada de datos en máquinas de juego, reduciendo el tiempo de pruebas de 60hs a solo 5hs con un margen de error del 0%.
          </li>
        </ul>
      </Card>
      <Button title='Mirar Experiencia Completa' class='w-fit self-end' href='/about' style='ahead' />
      
    </Section>
      }
      <Section title='🎒 Educación'>
        <Card
          as='a'
          heading='Analista Programador Universitario | Promedio 7'
          subheading='Competente en Java y patrones de diseño, metodologías ágiles (Scrum), PostgreSQL, SQL, Linux y bases de datos relacionales. Hábil en Bash Scripting, Python, Flask y tecnologías de front-end incluyendo HTML, CSS, JavaScript, React, Tailwind y Vue.js.'
          date='Marzo 2021 - Marzo 2025'
        >
          <!-- {
             <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
            molestiae laboriosam pariatur!
          </li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
        </ul> 
          } -->
        </Card>
        <Card
          as='a'
          heading='Tecnico en Electronica | Promedio 8'
          subheading='Conocimientos básicos de C++, desarrollé convertidores de temperatura en Visual Basic y proyectos prácticos con Arduino.'
          date='Marzo 2014 - Marzo 2021'

        >
        </Card>
      </Section>

      <!-- <Section title='Proyectos'>
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          <ProjectCard
            href='https://github.com/Fabian-Martinez-Rincon/Scraping_PLUTO_TV'
            heading='Scraping Pluto TV'
            subheading='Scraping en Python para Pluto TV'
            imagePath='/src/assets/projects/pluto_tv.jpg'
          />
          <ProjectCard
            href='https://github.com/Fabian-Martinez-Rincon/acl-manager'
            heading='ACL-Manager'
            subheading='Python, Pandas, OpenPyXL, PyAutoGUI'
            imagePath='/src/assets/projects/acl-manager.jpg'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Emuti'
            subheading='Python, Pandas, OpenPyXL, PyAutoGUI'
            imagePath='/src/assets/projects/emuti.png'
          />
          <ProjectCard
            href='/projects'
            heading='Lab-Genetics'
            subheading='Python | PostgreSQL | Flask | HTML |'
            imagePath='/src/assets/projects/lab-genetics.png'
          />
          <ProjectCard
            href='/projects'
            heading='Hope-Trade'
            subheading='Python | PostgreSQL | Flask | HTML |'
            imagePath='/src/assets/projects/hopetrade.png'
          />
          <ProjectCard
            href='/projects'
            heading='Modify-SQL'
            subheading='Python, Pandas, PostgreSQL'
            imagePath='/src/assets/projects/sqlmodify.png'
          />
        </div>
      </Section> -->

      <Section title='Skills'>
        <SkillLayout title='Languages' skills={languages} />
        <SkillLayout title='Frontend' skills={frontend} />
        <SkillLayout title='Backend' skills={backend} />
      </Section>
    </div>
    <Quote class='mt-12' />
  </main>
</PageLayout>
